<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Numans');

        html,body{
            background-image: url(/images/user-background.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .container{
            height: 100%;
            align-content: center;
        }

        .card{
            height: 420px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
        }

        .social_icon span{
            font-size: 60px;
            margin-left: 10px;
            color: #FFC312;
        }

        .social_icon span:hover{
            color: white;
            cursor: pointer;
        }

        .card-header h3{
            color: white;
        }

        .social_icon{
            position: absolute;
            right: 20px;
            top: -45px;
        }

        .input-group-prepend span{
            width: 50px;
            background-color: #FFC312;
            color: black;
            border:0 !important;
        }

        input:focus{
            outline: 0 0 0 0  !important;
            box-shadow: 0 0 0 0 !important;

        }

        .remember{
            color: white;
        }

        .remember input
        {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }

        .login_btn{
            color: black;
            background-color: #FFC312;
            width: 100px;
        }

        .login_btn:hover{
            color: black;
            background-color: white;
        }

        .links{
            color: white;
        }

        .links a{
            margin-left: 4px;
        }
    </style>

    <title>Edit Account Page</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <!--Custom styles-->


</head>
<body>

<!--<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="/">Beertag</a>-->
<!--        <button class="navbar-toggler" type="button"-->
<!--                data-toggle="collapse" data-target="#ftco-nav"-->
<!--                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="oi oi-menu"></span> Menu-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="ftco-nav">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>-->
<!--                <li class="nav-item"><a href="menu.html" class="nav-link">Beers</a></li>-->
<!--                <li class="nav-item active">-->
<!--                    <a th:href="@{/profile}" sec:authorize="isAuthenticated()" class="nav-link">My Profile</a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item"><a href="#" class="nav-link">Dranklist</a></li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item"><a href="#" class="nav-link">Wishlist</a></li>-->
<!--                <li class="nav-item"><a href="about" class="nav-link">About</a></li>-->


<!--                &lt;!&ndash;	SECURITY			&ndash;&gt;-->

<!--                <li class="nav-item">-->
<!--                    <form class="nav-link" >-->
<!--                        <a class="text-white" href="/logout" th:action="@{/logout}" sec:authorize="isAuthenticated()">-->
<!--                            Log out-->
<!--                        </a>-->
<!--                    </form>-->
<!--                </li>-->

<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--&lt;!&ndash;End Nav&ndash;&gt;-->


<p>
    <div class="text-center text-white">
        <i th:if="${error != null}" th:text="${error}" class="error"></i>
    </div>
</p>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Edit Account</h3>
                <div class="d-flex justify-content-end social_icon">
                </div>
            </div>
            <div class="card-body">

                <form method="post" th:action="@{/edit-user/user}" th:object="${user}" enctype="multipart/form-data">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                        </div>
                        <input type="text" name="first_name"
                               th:field="*{firstName}" class="form-control" placeholder="First Name">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                        </div>
                        <input type="text" name="last_name"
                               th:field="*{lastName}" class="form-control" placeholder="Last Name">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" name="email"
                               th:field="*{email}" class="form-control" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-center links">Change profile picture:</div>
                        <input type="file" name="aFile">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save"
                               class="btn float-right login_btn">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Go back to Profile?<a th:href="@{/profile}">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>