<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>Beertag</title>

      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Miss+Fajardose&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Beertag</a>
	      <button class="navbar-toggler" type="button"
				  data-toggle="collapse" data-target="#ftco-nav"
				  aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/menu" class="nav-link">Beers</a></li>
				<li class="nav-item">
					<a th:href="@{/profile}" sec:authorize="isAuthenticated()" class="nav-link">My Profile</a>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/dranklist}" class="nav-link">Dranklist</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/wishlist}" class="nav-link">Wishlist</a></li>
				<li class="nav-item"><a href="/about" class="nav-link">About</a></li>


<!--	SECURITY			-->
                <li class="nav-item" >
					<a  sec:authorize="!isAuthenticated()" href="/login" class="nav-link" th:action="@{/login}" method="get">
						Log in
					</a>
				</li>


	          <li class="nav-item cta" >
				  <a sec:authorize="!isAuthenticated()" href="/register_page" class="nav-link" th:action="@{/register}">
					  Sign up
				  </a>
			  </li>

				<li class="nav-item">
					<form class="nav-link" >
						<a class="text-white" href="/logout" th:action="@{/logout}" sec:authorize="isAuthenticated()">
							Log out
						</a>
					</form>
				</li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav bar-->
    
    <section class="home-slider owl-carousel js-fullheight">
      <div class="slider-item js-fullheight" style="background-image: url(images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <h1 class="mb-4 mt-5">Our Specialties</h1>
				  <p sec:authorize="isAuthenticated()">
					  <a href="/beers/new" class="btn btn-primary p-3 px-xl-4 py-xl-3">Create A Beer</a>
					  <a href="menu.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Show All Beers</a>
				  </p>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url(images/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <h1 class="mb-4 mt-5">The Best Beers Ever Made</h1>
				  <p sec:authorize="isAuthenticated()">
					  <a href="/beers/new" class="btn btn-primary p-3 px-xl-4 py-xl-3">Create A Beer</a>
					  <a href="menu.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Show All Beers</a>
				  </p>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url(images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <h1 class="mb-4 mt-5">Drink Our Beer And Enjoy The Day</h1>
				  <p sec:authorize="isAuthenticated()">
					  <a href="/beers/new" class="btn btn-primary p-3 px-xl-4 py-xl-3">Create A Beer</a>
					  <a href="menu.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Show All Beers</a>
				  </p>
            </div>

          </div>
        </div>
      </div>
    </section>
	

<!--		<section class="ftco-section">-->
<!--			<div class="container">-->
<!--				<div class="row justify-content-center mb-5 pb-2">-->
<!--          			<div class="col-md-7 text-center heading-section ftco-animate">-->
<!--          	<span class="subheading">Development</span>-->
<!--            <h2 class="mb-4">Our Junior Team</h2>-->
<!--          			</div>-->
<!--        		</div>-->
<!--				<div class="row">-->


<!--					<div class="col-md-6 col-lg-3 ftco-animate">-->
<!--						<div class="staff">-->
<!--						</div>-->
<!--					</div>-->

<!--&lt;!&ndash;		FIRST			&ndash;&gt;-->

<!--					<div class="col-md-6 col-lg-3 ftco-animate">-->
<!--						<div class="staff">-->
<!--							<div class="img" style="background-image: url(images/home_team_iva.jpg);"></div>-->
<!--							<div class="text pt-4">-->
<!--								<h3>Iva Mavrodieva</h3>-->
<!--								<span class="position mb-2">Back-end</span>-->
<!--								<div class="faded">-->

<!--									<ul class="ftco-social d-flex">-->

<!--		                <li class="ftco-animate">-->
<!--							<a href="https://www.facebook.com/iff.mawrodiewaa" target="_blank">-->
<!--								<span class="icon-facebook"></span>-->
<!--							</a>-->
<!--						</li>-->

<!--		                <li class="ftco-animate">-->
<!--							<a href="#">-->
<!--								<span class="icon-google-plus"></span>-->
<!--							</a>-->
<!--						</li>-->

<!--		                <li class="ftco-animate">-->
<!--							<a href="https://www.instagram.com/ivamavrodieva/?hl=bg" target="_blank">-->
<!--								<span class="icon-instagram"></span>-->
<!--							</a>-->
<!--						</li>-->

<!--		              				</ul>-->
<!--	              				</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--&lt;!&ndash;		SECOND			&ndash;&gt;-->

<!--					<div class="col-md-6 col-lg-3 ftco-animate">-->
<!--						<div class="staff">-->
<!--							<div class="img" style="background-image: url(images/home_team_ico.jpg);"></div>-->
<!--							<div class="text pt-4">-->
<!--								<h3>Hristo Todorov</h3>-->
<!--								<span class="position mb-2">Front-end</span>-->
<!--								<div class="faded">-->

<!--									<ul class="ftco-social d-flex">-->

<!--		                <li class="ftco-animate">-->
<!--							<a href="https://www.facebook.com/xristo.todorov.5" target="_blank">-->
<!--								<span class="icon-facebook"></span>-->
<!--							</a>-->
<!--						</li>-->

<!--		                <li class="ftco-animate">-->
<!--							<a href="#"><span class="icon-google-plus"></span></a>-->
<!--						</li>-->

<!--		                <li class="ftco-animate">-->
<!--								<a href="https://www.instagram.com/xristo.todorov.98/?hl=bg" target="_blank">-->
<!--									<span class="icon-instagram"></span>-->
<!--								</a>-->
<!--						</li>-->

<!--		              </ul>-->
<!--	              				</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--				</div>-->
<!--			</div>-->
<!--		</section>-->
<!--		-->
		<!-- <section class="ftco-section testimony-section" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5"> -->

		
<!--		<section class="ftco-section ftco-no-pt ftco-no-pb">-->
<!--			<div class="container-fluid px-0">-->
<!--				<div class="row no-gutters">-->
<!--					<div class="col-md">-->
<!--						<a href="#" class="instagram img d-flex align-items-center justify-content-center" style="background-image: url(images/insta-1.jpg);">-->
<!--							<span class="ion-logo-instagram"></span>-->
<!--						</a>-->
<!--					</div>-->
<!--					<div class="col-md">-->
<!--						<a href="#" class="instagram img d-flex align-items-center justify-content-center" style="background-image: url(images/insta-2.jpg);">-->
<!--							<span class="ion-logo-instagram"></span>-->
<!--						</a>-->
<!--					</div>-->
<!--					<div class="col-md">-->
<!--						<a href="#" class="instagram img d-flex align-items-center justify-content-center" style="background-image: url(images/insta-3.jpg);">-->
<!--							<span class="ion-logo-instagram"></span>-->
<!--						</a>-->
<!--					</div>-->
<!--					<div class="col-md">-->
<!--						<a href="#" class="instagram img d-flex align-items-center justify-content-center" style="background-image: url(images/insta-4.jpg);">-->
<!--							<span class="ion-logo-instagram"></span>-->
<!--						</a>-->
<!--					</div>-->
<!--					<div class="col-md">-->
<!--						<a href="#" class="instagram img d-flex align-items-center justify-content-center" style="background-image: url(images/insta-5.jpg);">-->
<!--							<span class="ion-logo-instagram"></span>-->
<!--						</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</section>-->




  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>